<footer id="site-footer" class="site-footer site-footer-2 bg-gradient-2">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 xs-text-center">
          <img src="/assets/images/magma-logo.png" width="20%" alt=""/>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p class="copyright-2 text-right">
              Copyright © 2018 - <script>
              document.write(new Date().getFullYear())
            </script> Magma Development. All Rights Reserved.
            </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- #site-footer -->

<a id="back-to-top" href="#" class="show"
  >
  <i class="flaticon-arrow-pointing-to-up"></i
>
</a>