<header id="site-header"class="site-header header-style-2 sticky-header header-fullwidth">
<div class="header-topbar">
    <div class="octf-area-wrap">
    <div class="container-fluid">
        <!-- social icons -->
        <ul class="social-list">
        <li>
            <a href="#" target="_self"><i class="fab fa-discord"></i></a>
        </li>
        <li>
            <a href="#" target="_self"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
            <a href="#" target="_self"><i class="fab fa-patreon"></i></a>
        </li>
        </ul>
        <!-- social icons close -->

        <!-- contact info -->
        <ul class="topbar-info clearfix">
        <li>
            <i class="flaticon-envelope"></i> support@magmafoundation.org
        </li>
        </ul>
        <!-- contact info close -->
    </div>
    </div>
</div>
<!-- Main Header start -->
<div class="octf-main-header">
    <div class="octf-area-wrap">
    <div class="container-fluid octf-mainbar-container">
        <div class="octf-mainbar">
        <div class="octf-mainbar-row octf-row">
            <!-- logo start -->
            <div class="octf-col">
            <div id="site-logo" class="site-logo">
                <a href="https://magmafoundation.org">
                <img
                    class="logo-static"
                    src="/assets/images/magma-logo.png"
                    alt="Magma"
                />
                <img
                    class="logo-scroll"
                    src="/assets/images/magma-logo.png"
                    alt="Magma"
                />
                </a>
            </div>
            </div>
            <!-- logo start -->

            <!-- nav start -->
            <div class="octf-col text-right">
            <nav id="site-navigation" class="main-navigation">
                <ul id="primary-menu" class="menu">
                <li class=""><a href="https://magmafoundation.org">Home</a></li>
                <li class="current-menu-item current-menu-ancestor">
                    <a href="/">Blog</a>
                </li>
                </ul>
            </nav>
            <!-- #site-navigation -->
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<!-- Header mobile -->
<div class="header_mobile">
    <div class="container">
    <div class="mlogo_wrapper clearfix">
        <!-- logo mobile start -->
        <div class="mobile_logo">
        <a href="https://magmafoundation.org"
            ><img src="/assets/images/magma-logo.png" alt="Magma"
        /></a>
        </div>
        <!-- logo mobile end -->

        <div id="mmenu_toggle">
        <button></button>
        </div>
    </div>

    <!-- nav mobile start -->
    <div class="mmenu_wrapper">
        <div class="mobile_nav">
        <ul id="menu-main-menu" class="mobile_mainmenu">
            <li class=""><a href="https://magmafoundation.org">Home</a></li>
            <li class="current-menu-item current-menu-ancestor">
            <a href="/">Blog</a>
            </li>
        </ul>
        </div>
    </div>
    <!-- nav mobile end -->
    </div>
</div>
</header>