<aside
            class="widget-area primary-sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12"
          >
  <section class="widget widget_categories">
    <h5 class="widget-title">Categories</h5>
    <ul>
      <li>
        <a href="#">Updates</a>
        <span class="posts-count">(1)</span>
      </li>
      <li>
        <a href="#">Announcements </a>
        <span class="posts-count">(3)</span>
      </li>
    </ul>
  </section>
  <!-- <section id="search-2" class="widget widget_search">
                                <form role="search" method="get" id="search-form" class="search-form" action="">
                                    <input type="search" class="search-field" placeholder="Search…" value="" name="s">
                                    <button type="submit" class="search-submit"><i class="flaticon-search"></i></button>
                                </form>
                            </section> -->
  <section class="widget widget_recent_news">
    <h5 class="widget-title">Recent Posts</h5>
    {% for post in collections.post | reverse %}
      {% if (loop.index <= 2) %}
        <ul class="recent-news clearfix">
          <li class="clearfix">
            <div class="thumb">
              <a href="{{post.url}}">
                <img
                        src="{{ post.data.thumbnail }}"
                        class=""
                        alt=""
                        width="70px"
                        height="70px"
/>
              </a>
            </div>
            <div class="entry-header">
              <h6>
                <a href="{{post.url}}">{{ post.data.title }}</a>
              </h6>
              <span class="post-on"
                      ><span class="entry-date">{{ post.date | readableDate}}</span></span
                    >
            </div>
          </li>
        </ul>
      {% endif %}
    {% endfor %}

  </section>
  <section id="tag_cloud-1" class="widget widget_tag_cloud">
    <h5 class="widget-title">Tags</h5>
    <div class="tagcloud">
      {% for post in collections.post | reverse %}
        {% for tag in post.data.tags %}
          {% if tag != 'post' %}
            <a href="#" class="tag-cloud-link">{{tag}}</a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </section>
</aside>